@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* GENERALES */
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lexend Deca", sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

/* Principal */
.principal{
    display: flex;
    max-width: 768px;
    min-width: 320px;
}

/* Columnas */
.columna{
    color: white;
    padding: 2rem;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.columna.activa{
    width: 50%;
}

.columna:first-of-type{
    border-radius: 1rem 0 0 1rem;
}

.columna:last-of-type{
    border-radius: 0 1rem 1rem 0;
}

.sedans{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(174, 100%, 13%);;
}

.titulo{
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
}

.texto{
    font-size: 15px;
    margin-bottom: 4rem;
    flex-grow: 1;
}

.enlace{
    text-decoration: none;
    background-color: white;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font-size: 14px;
}

.sedans .enlace{
    color: hsl(31, 77%, 52%);
}

.suvs .enlace{
    color: hsl(184, 100%, 22%);
}

.luxury .enlace{
    color: hsl(174, 100%, 13%);;
}
